@font-face {
	font-family: Raleway-ExtraBold;
	src: url(fonts/Raleway-ExtraBold.ttf);
}
@font-face {
	font-family: Raleway-SemiBold;
	src: url(fonts/Raleway-SemiBold.ttf);
}
@font-face {
	font-family: Raleway-Medium;
	src: url(fonts/Raleway-Medium.ttf);
}
@font-face {
	font-family: Raleway-Black;
	src: url(fonts/Raleway-Black.ttf);
}

html, body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p{
	margin: 0px;
	padding: 0px;
}

#background{
	position: fixed;
	background: url('../images/background.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}


/* Main Page + Extras */
/*This is desktop only*/
#homeContent{
	position: relative;
	top: 44px;
	width: 300px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background-color:#783026;
	-webkit-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	text-align: center;
	margin: 0px auto;
	padding-top: 55px;
}
#mainImg img {
	width: 262px;
	height: auto;
}
#tagline {
	font-family: Raleway-ExtraBold;
	font-size: 9px;
	color: white;
	padding-top: 20px;
	padding-bottom: 30px;
}

.readmore {
	font-family: Raleway-ExtraBold;
	font-size: 12px;

	text-decoration: none;
	color: inherit;
}

#flyingfish {
	position: absolute;
	display:block;
	margin: auto;
	top: 30px;
	width: 750px;
	height: auto;
	right: -250px;
}

/* Menu Page */

#menuContent {
	position: relative;
	top: 100px;
	width: 800px;
	padding-top: 55px;
	margin: auto;
}


#menuLeft {
	width: 225px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background-color:#783026;
	-webkit-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	text-align: center;
	height: 450px;
	margin: 0px 10px 0px 20px;
	float:left;
}

#menuRight {
	width: 515px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background-color:#783026;
	background: linear-gradient(#772F25, #AE4237);
	-webkit-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	text-align: center;
	height: 450px;
	margin: 0px 20px 0px 10px;
	float:right;

}




#menuText {
	margin: 0 auto;
	width: 415px;
	padding-top: 40px;
	font-family: Raleway-SemiBold;
	color: white;

}

#menuText h1 {
	padding-bottom: 20px;
	font-size:38px;
    text-shadow: -4px 4px 20px black;
}

#menuText p {
	font-family: Raleway-Medium;
	font-size: 15px;
	line-height: 150%;
}

/* Menu Items */

#menuItems {
	width: 415px;
	margin: 0px auto;
	padding-top: 20px;
	color: white;
	font-family: Raleway-ExtraBold;
	font-size: 11px;
}

#menuItems a {
	text-decoration: none;
	color: inherit;
}

#menuItems img {
	width:auto;
	height: 100px;
}

#menuItems div {
	width:25%;
	float: left;
}

/* Body Stuff */
#bodyContent{
	position: relative;
	top: 200px;
	width: 650px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: linear-gradient(#772F25, #AE4237);
	-webkit-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	box-shadow: -14px 14px 9px 0px rgba(0,0,0,0.35);
	text-align: center;
	margin: 0px auto;
	padding-top: 55px;
}

#flyingfishsecond{
	position: absolute;
	display:block;
	margin: auto;
	top: -125px;
	width: 725px;
	height: auto;
	right: -50px;
}

#bodyText {
	text-align:left;
	margin: 0 auto;
	color: white;
	width:520px;
}

#bodyText h1 {
	font-family: Raleway-SemiBold;
	font-size: 43px;
	text-align: center;
	padding-bottom: 10px;
    text-shadow: -4px 4px 20px black;
}
#bodyText p {
	font-family: Raleway-Medium;
	padding: 10px 0px 10px 0px;
	line-height: 150%;
	font-size: 11px;
}
#bodyText h2 {
	font-family: Raleway-SemiBold;
	text-align: center;
	padding-bottom: 30px;
    text-shadow: -4px 4px 20px black;
}

#list {
	font-family: Raleway-Medium;
	line-height: 200%;
	margin: 0 auto;
	width: 275px;
	font-size: 11px;
	padding-bottom: 15px;
}

#list ul {
	padding-left: 15px;
	padding-bottom: 20px;
}
#list a {
	text-decoration: none;
	color:inherit;
}

#bodySeafood {
	position: absolute;
	display:block;
	margin: auto;
	top: 250px;
	width: 100px;
	height: auto;
	right: 500px;
}

#bodyChef {
	position: absolute;
	display:block;
	margin: auto;
	top: 250px;
	width: 150px;
	height: auto;
	right: 40px;

}
#planetChef {
	position: absolute;
	display:block;
	margin: auto;
	top: 250px;
	width: 125px;
	height: auto;
	right: 40px;

}
#planetlist {
	line-height: 150%;
	font-size: 10px;
	font-family: Raleway-Medium;
	padding-bottom: 15px;
}
#planetlist a {
	text-decoration: none;
	color: inherit;
}
#planetlist p{
	padding: 0px;
}
#planetlist ul{
	list-style-position: inside;
	padding-left: 0px;
	margin: 0px;
}

#chart {
	padding: 10px 0px 20px 0px;
}
@media screen and (min-width: 651px) and (max-width: 900px){
	#menuContent {
		position: relative;
		top: 100px;
		width:650px;
		padding-top: 55px;
		margin: auto;
	}
	#menuLeft {
		visibility: hidden;
		display: none;
	}
	#menuRight {
		width: 100%;
		margin: 0px 0px 0px 0px;
	}

}

@media screen and (max-width: 650px) {
	#homeContent {
		display: block;
		width: 100%;
		height: auto;
	}
	#mainImg {
		max-width: 100%;
	}
}
