
body {
  background-color: #382929;
}
img {
  max-width:100%;
}
.navbar-default {
    background-color: #001919;
    border-color: white;
    top:0;
}

#introBox {
  color: white;
  font-family: Trebuchet MS;
  font-size:20px;
}
#header{
   height:20px;
   position:fixed;
   width:100%;
   z-index:1000;
}
.imgHolder {
  background-color:white;
  max-width:300px;
  border-radius:2px;
  text-align:center;
}

.mainPage {
  float: right;
  width: 90%;
  align: left;
}
.rightPage {
  position: absolute;
  float: left;
  width: 10%;
  text-align: center;
  font-size:  8rem;
  height: 100%;
}

.page {
  padding:50px 0px 0px;
  margin:0 auto;
  max-width:1000px;
}
.about {
  padding: 10px 60px 60px 60px;
  background-color:#2A1822;
}
.portfolio {
  padding-top: 40px;
  background-color:#6C5361;
  padding-bottom:60px;
}
.contact {
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#4D3B45;
}
.forms {
  margin: 0px auto;
  max-width: 400px;
}
#roundedBorder {
  padding:5px;
  background-color: #26111D;
  border-radius:50%;
}
.portFooter {
  margin:0px auto;
  max-width: 1000px;
  color:white;
}



